
@import url('https://fonts.googleapis.com/css2?family=Aboreto&family=Hind+Madurai&family=Lora:wght@500&family=Montserrat&display=swap');

  /* border box model:<https://css-tricks.com/box-sizing/> */
html {
  box-sizing:border-box;
}
*,*::before,*::after {
  box-sizing:inherit;
}
/* generic styles for the page */
body {
  padding:0;
  margin:0;
  font-family:Montserrat,sans-serif;
  font-size:1.3rem;
}
h1,h2,h3 {
  margin:0;
}
h2 {
  text-align:center;
  padding:3vh 3vw;
  font-size:1.5rem;
}
h3 {
  text-align:center;
  font-size:1.2rem;
  padding-top:3vh;
}
p {
  text-align:center;
  font-size:1.2rem;
  padding:0 10vw;
}
a {
  color:white;
}
/* navigation bar */
nav {
  font-family:var(--tabs);
  font-size:80%;
  padding:1rem;
  background-color:black;
}
/*logo*/
nav h1 a {
  font-family:Aboreto,sans-serif;
  font-size:2.5rem;
  color:white;
}
.logo_text:hover {
  font-style:italic;
}
nav ul {
  margin:0;
  padding:0;
  list-style-type:none;
  display:block;
  flex-direction:unset;
  justify-content:center;
  align-items:center;
  gap:2.5rem;
}
nav li:first-child {
  flex-basis:100%;
}
nav a {
  text-decoration:none;
  display:block;
}
nav .tab {
  font-size:1.5em;
}
nav .tab:hover {
  color:#adadad;
  border-bottom:1px solid #892a1c;
}
/*order button*/
.button {
  background-color:#bc0000;
  color:white;
  width:max-content;
  border-radius:5px;
  font-size:1.5rem;
}
#gallery_button {
  padding-top:1rem;
  padding-bottom:1rem;
}
.button:hover {
  color:black;
  background-color:#a62639;
}
/*hero image and text section*/
.hero-image-section {
  display:flex;
  flex-direction:column;
  flex-wrap:nowrap;
  flex-direction:column;
}
.hero-image-container {
  object-fit:cover;
  display:flex;
  flex-wrap:wrap;
  background-size:cover;
}
.hero-image-container img {
  width:100%;
  object-fit:cover;
}
.hero-text-container {
  width:100vw;
  height:15vh;
  font-size:1.2rem;
  object-fit:cover;
  display:flex;
  flex-direction:column;
  flex-wrap:nowrap;
  background-size:cover;
  font-family:montserrat,Impact,Haettenschweiler,"Arial Narrow Bold",sans-serif;
  background-color:#3D3D3D;
  color:white;
  justify-content:center;
  align-items:center;
  text-align:center;
}
/*introduction section*/

.introduction {
  height:fit-content;
  background-color:white;
}
div.introduction-sub-heading {
  text-align:center;
  font-size:1.2rem;
}
div.introduction-paragraph {
  text-align:center;
  font-size:1.2rem;
}
p.welcome-paragraph {
  margin-top:0;
}
/*icons:shopping & box gallery */
.icon-container {
  display:flex;
  justify-content:space-between;
  background-color:white;
}
.icon-container div {
  margin:25px 35px;
  height:fit-content;
  background-color:white;
}
/*Horizontal line */
.horizontal-line {
  border-top:5px solid #1e1e1e;
  /* Can adjust line properties here e.g,thickness */
margin-top:20px;
}
/* horizontal line */
.horizontal-line {
  border-top:5px solid #1e1e1e;
  /* Can adjust line properties here e.g,thickness */
margin-top:20px;
}
/*TODO*/
/* braai section*/
.braai {
  height:fit-content;
  /* Adjust the height of the box container*/
background-color:white;
  /* Remove:design help*/
object-fit:cover;
  object-position:50% 50%;
}
.braai-image img {
  width:80%;
  object-fit:cover;
}
.braai-image {
  display:flex;
  justify-content:center;
  text-align:center;
}
.braai-sub-title {
  padding:2vh 15vw 0 15vw;
}
/*TODO*/
/*what is in the box? section*/
.box-image {
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}
.box-image img {
  width:80%;
  object-fit:cover;
}
.box-sub-title {
  background-color:white;
  /* Remove:design help*/
height:fit-content;
  margin-top:25px;
}
.box-paragraph {
  background-color:white;
  /* Remove:design help*/
height:fit-content;
  margin-top:25px;
}
/*what is on the menu?*/

.menu-section {
  height:fit-content;
}
.menu-title {
  background-color:white;
  height:fit-content;
}
.menu-image {
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
}
.menu-image img {
  width:50%;
  object-fit:cover;
}
.menu-sub-title {
  background-color:white;
  height:fit-content;
  margin:3vh 2vw 0 2vw;
}
.menu-paragraph {
  background-color:white;
  height:fit-content;
  margin-top:25px;
}
/*box packages*/

.package {
height:fit-content;
background-color:white;
}
.packages-title {
  background-color:white;
height:fit-content;
}
.pricing {
  display:flex;
  justify-content:center;
  flex-direction:column;
  width: 70vw;
  margin:auto;
}
.pricing-table {
  border: 1px solid black;
  color: white;
  padding: 1%;
  text-align: center;
  width: 100%;
}

.pricing-table h2 {
  font-size:2rem;
  font-weight:normal;
  margin-bottom:20px;
}
.price {
  font-size:3rem;
  margin-bottom:20px;
  font-family:Lora,sans-serif;
  color:#000
}
ul {
  list-style-type:none;
  margin-bottom:30px;
  padding:0;
}
ul li {
  font-size:1rem;
  color:#00072D;
}
.price-tag {
  color:#BC0000;
  font-size:xx-large;
  font-family:Aboreto,sans-serif;
}
/*Recipe of the month*/

.recipe {
  height:fit-content;
  /* Adjust the height of the box container*/
background-color:white;
  /* Remove:design help*/
}
.recipe-title {
  background-color:white;
  /* Remove:design help*/
height:fit-content;
}
.recipe-video {
  left:70%;
}
/*Contact information*/

.contact-details {
  height:fit-content;
  /* Adjust the height of the box container*/
background-color:white;
  /* Remove:design help*/
}
section.contact-details {
  text-align:center;
}
div.contact-paragraph {
  text-align:center;
}
.contact-details-title {
  background-color:white;
  /* Remove:design help*/
height:fit-content;
}
.contact-sub-title {
  background-color:white;
  /* Remove:design help*/
height:fit-content;
  margin-top:25px;
}
.contact-paragraph {
  background-color:white;
  /* Remove:design help*/
height:fit-content;
  margin-top:25px;
  text-align:left;
}
/* footer*/
footer {
  height:fit-content;
  background-color:#000;
}
ul.social-networks {
  background-color:#000;
  margin-bottom:0;
}
.social-networks {
  text-align:center;
}
.social-networks > li {
  display:inline;
}
.social-networks i {
  font-size:160%;
  margin:1%;
  padding:5%;
  color:white;
}
/* gallery */
#assortment-bbq-photos {
  clear:both;
  line-height:0;
  column-count:1;
  column-gap:0;
}
#assortment-bbq-photos > img {
  width:100%;
}

/*Order form page*/
/*Navbar visibility*/
.form-container {
  z-index:-1;
}
/*gallery - footer*/
footer {
  height:fit-content;
  background-color:#000;
}
ul.social-networks {
  background-color:#000;
  margin-bottom:0;
}
.social-networks {
  text-align:center;
}
.social-networks > li {
  display:inline;
}
.social-networks i {
  font-size:160%;
  margin:1%;
  padding:5%;
  color:white;
}
/*gallery page*/
#photos {
  clear:both;
  line-height:0;
  column-count:1;
  column-gap:0;
}
#photos > img {
  width:100%;
}
/*Form page*/
/*Typeform */
div.form-container {
  height:100vh !important;
}
/*modified code snippet to solve footer layout problem on gallery page*/
/*source:https://philipwalton.github.io/solved-by-flexbox/demos/sticky-footer/*/
.site {
  display:flex;
  min-height:100vh;
  flex-direction:column;
}
.site-footer {
  flex:1;
}
/* Media queries */

/*suggested css breakpoints Source:https://gist.github.com/gokulkrishh/242e68d1ee94ad05f488*/

/* 
##Device = Desktops
##Screen = 1281px to higher resolution desktops
*/

/*navigation bar*/
@media (min-width:1281px) {
  nav ul {
  display:flex;
  flex-direction:row;
  align-items:center;
}
/*hero image and text section*/
.hero-image-section {
  display:flex;
  flex-direction:row;
}
.hero-image-container {
  width:50vw;
  height:80vh;
  display:flex;
}
.hero-text-container {
  width:50vw;
  height:80vh;
  font-size:2.5rem;
}

/*braai section*/
.braai-image img{
  width: 40%;
}

/*box section*/
.box-image img {
  width: 40%;
}

/*menu section*/
.menu-image img {
  width: 20%;
}

/*box packages*/
.pricing {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 80vw;
  margin: auto;
}

/*gallery*/
#photos {
clear: both;
line-height: 0;
column-count: 4;
column-gap: 0;
}

}

/* 
##Device = Laptops,Desktops
##Screen = B/w 1025px to 1280px
*/

@media (min-width:1025px) and (max-width:1280px) {
  /*navigation bar*/ 
nav ul {
  display:flex;
  flex-direction:row;
  align-items:center;
}
/*hero image and text section*/
.hero-image-section {
  display:flex;
  flex-direction:row;
}
.hero-image-container {
  width:50vw;
  height:80vh;
  display:flex;
}
.hero-text-container {
  width:50vw;
  height:80vh;
  font-size:2.5rem;
}

/*braai section*/
.braai-image img{
  width: 40%;
}

/*box section*/
.box-image img {
  width: 40%;
}

.pricing {
  display: flex;
  justify-content: center;
  flex-direction: row;
  width: 80vw;
  margin: auto;
}

/*menu section*/
.menu-image img {
  width: 20%;
}

/*gallery*/
#photos {
  clear: both;
  line-height: 0;
  column-count: 4;
  column-gap: 0;
  }
}
/* 
##Device = Tablets,Ipads (portrait)
##Screen = B/w 768px to 1024px
*/

@media (min-width:768px) and (max-width:1024px) {
  /*navigation bar*/ 
nav ul {
  display:flex;
  flex-direction:row;
  align-items:center;
}
/*hero image and text section*/
/*FIXME:Space below the hero image*/
.hero-image-section {
  display:flex;
  flex-direction:row;
}
.hero-image-container {
  width:50vw;
  height:50vh;
}
.hero-text-container {
  width:50vw;
  height:50vh;
  font-size:2rem;
}

/*braai section*/
.braai-image img{
  width: 40%;
}

/*menu section*/
.menu-image img {
  width: 20%;
}

/*box section*/
.box-image img {
  width: 40%;
}

/*gallery*/
#photos {
  clear: both;
  line-height: 0;
  column-count: 3;
  column-gap: 0;
  }
}/* 
  ##Device = Tablets,Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width:768px) and (max-width:1024px) and (orientation:landscape) {
  /*gallery page*/
#photos {
  clear:both;
  line-height:0;
  column-count:3;
  column-gap:0;
}

/*braai section*/
.braai-image img{
  width: 40%;
}

.pricing {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 45vw;
  margin: auto;
}

/*box section*/
.box-image img {
  width: 40%;
}

/*menu section*/
.menu-image img {
  width: 20%;
}
}/* 
##Device = Low Resolution Tablets,Mobiles (Landscape)
##Screen = B/w 481px to 767px
*/

@media (min-width:481px) and (max-width:767px) {
  /*navigation bar*/
nav h1 a {
  font-size:2.5rem;
}
nav, .tab  {
  font-size:1.1rem;
}
.button {
  font-size:1.5rem;
}
/*hero image and text section*/
.hero-image-section {
  display:flex;
  flex-direction:column;
}
.hero-image-container {
  width:100vw;
  height:50vh;
  object-fit:contain;
}
.hero-text-container {
  width:100vw;
  height:15vh;
  font-size:1.2rem;
}

/*braai section*/
.braai-image img{
  width: 40%;
}

/*box section*/
.box-image img {
  width: 40%;
}

/*menu section*/
.menu-image img {
  width: 20%;
}


/*gallery page*/
#photos {
  clear:both;
  line-height:0;
  column-count:2;
  column-gap:0;
}
}